@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
    margin: 0;
    background-color: ghostwhite;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}
header{
  padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
}
a{
    text-decoration: none;
    color: #F7CF3E;
    font-size: 1.5rem;
}
h1{
  display: flex;
  color: #F7CF3E;
  width: 100%;background-image: url(./imagenes/imagen23.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Kaushan Script';
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
}
.topnav {
    background: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    height: 100px;
    width: 100%;
    align-items: center;
}
.topnav img{
    width: 13rem;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 0px;
    left: 0px;
}
.topnav a{
    font-family: 'Kaushan Script';
    color: #F7CF3E;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 1.5rem;
}
.topnav .icon{
  display: none;
}
.topnav a:hover{
    color: #ffffff;
    
}
.quiquia{
  margin-top: 0px;
  padding: 2%;
  width: 100%;
  height: 650px;
  font-family: 'Playfair Display', serif;
  background-image: url(../matyprocesos/imagenes/imagen9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: center;
  color: honeydew;
  font-size: 1.5rem;
}
.imgsecundaria{
	padding-top: 5%;
	display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}
.imgsecundaria div{
	width: 33%;
	padding: 2%;
	text-align: center;
}
.imgsecundaria div a img{
	width: 100%;
	margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.imgsecundaria div:hover{
  background-color: rgb(219, 219, 219);
}

@media screen and (max-width: 650px) {
  .imgsecundaria{
    flex-direction: column;
    
  }
  .imgsecundaria div{
    text-align: none; 
    width: 100%;
    padding: 10%;
  }
}

h4{
	font-size: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight:400;
}
h2{
  font-family:'Kaushan Script';
  color: #F7CF3E;
}
header{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif, 700;
    font-size: 1.5rem;
    background-color: #333;
}
footer{
  background-color: #333;
  margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}
footer a{
  display: block;
  align-items: center;
  padding: 5px;
}
footer a img{
  max-width: 3rem;
	width: 100%;
	height: auto;
	margin-right: 2%;
}
footer a img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}
.firma{
  background-color: #333;
  color: #ffffff;
	display: block;
  padding-bottom: 2%;
  position: relative;
}
.firma p{
  text-align: center;
  font-size: 1rem;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400
}
.principalquienessomos{
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 2%;
  width: 100%;
  height: 650px;
  font-family: 'Playfair Display', serif;
  background-image: url(../matyprocesos/imagenes/imagen21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: honeydew;
  font-size: 1.5rem;
}
.secundariaquienessomos{
	padding: 5%;
	display: block;
  background-image: url(./imagenes/imagen16.jpg);
}
.qs1{
  background-color: #333;
  display: flex;
  justify-content: left;
  font-size: 150%;
  color: #F7CF3E;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 5%;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.qs2{
  display: flex;
  justify-content: right;
  font-size: 150%;
  align-items: center;
  color: #333;
  background-color: #F7CF3E;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 10%;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.qs1 img{
	width: 25%;
	padding: 2%;
  justify-content: left;
  border-radius: 10px;
}
.qs2 img{
	width: 25%;
	padding: 2%;
  justify-content: right;
}
.qs1 p{
	width: 30%;
	padding: 2%;
  justify-content: left;
}
.qs2 p{
	width: 30%;
	padding: 2%;
  justify-content: right;
}
.qs1:hover{
  background-color: rgb(65, 65, 65);
}
.qs2:hover{
  background-color: #ffe06f;
}

@media screen and (max-width: 750px) {
  .qs1{
    font-size: 22px;
    height: 200px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 5%;
    border-radius: 20px;
  }
  .qs1 p{
    width: 50%;
  }
  .qs2 p{
    width: 50%;
  }
  .qs2 img{
    width: 30%;
  }
  .qs2{
    font-size: 22px;
    height: 200px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 2%;
    border-radius: 20px;
  }
}

.secundariaquienessomos div a img{
	width: 100%;
	margin-bottom: 2rem;
}

.titulomenu{
  display: flex;
  background-color: #333;
  width: 100%;
  color: #F7CF3E;
  font-family:'Kaushan Script';
  font-size: 3rem;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  vertical-align: middle;
}
h5{
  display: flex;
  color: #F7CF3E;
  width: 100%;
  background-image: url(./imagenes/imagen24.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Kaushan Script';
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
}
form{
  background-image: url(./imagenes/imagen16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  padding: 10%;
}
form div{
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 50px;
}

.checkbox{
  color: #F7CF3E;
}

form div label{
  color: #F7CF3E;
  font-family: 'Quicksand', sans-serif , 400;
  font-size: 1.2rem;
}
.input{
  border-color: transparent;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  color: #ffffff;
  font-family:'quicksand';
  font-size: 1.5rem;
  background-color: rgb(78, 78, 78);
  margin-bottom: 2%;
  padding-left: 2%;
}

.input:hover{
  background-color: #ffe06f;
  border: none;
}

.button{
  justify-content: left;
  border-style: none;
  border-radius: 6px;
  width: 150px;
  height: 50px;
  color: #F7CF3E;
  font-family:'Quicksand';
  font-size: 1.4rem;
  background-color: transparent;
}

.button:hover{
  color: #ffffff;
}

.submit{
  border-style: none;
  border-radius: 6px;
  width: 100px;
  height: 50px;
  color: #ffffff;
  font-family:'Kaushan Script';
  font-size: 1.5rem;
  background-color: #F7CF3E;
  margin-top: 2%;
}
.submit:hover{
  background-color: #ffffff;
  color: #F7CF3E;
}

@media screen and (max-width: 700px) {
  .input{
    width: 100%;
  }
  
}

h6{
  display: flex;
  color: #F7CF3E;
  width: 100%;background-image: url(./imagenes/imagen21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Kaushan Script';
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  vertical-align: middle;
}
.espacio{
  background-color: #333;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.productos{
	margin-top: 1%;
	margin-bottom: 1%;
	display: flex;
}
.productos div{
	width: 33%;
	padding: 2%;
	text-align: center;
  transition: width 0.3s;
}
.productos div img{
	width: 100%;
	margin-bottom: 10px;
  border-radius: 12px;
}

.productos div:hover{
  background-color: #f1f1f1;
  width: 480px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 15px;
  background-color: rgb(248, 248, 248);
  text-align: center;
  font-family: arial;
  border-radius: 15px;
}

@media screen and (max-width: 700px) {
  .productos {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 7%;
  }
  .productos div{
    width: 80%;
    max-width: 100%;
  }
  .productos div img{
    width: 50%;
    border-radius: 13px;
    max-height: 500px;
  }

}

.price {
  color: grey;
  font-size: 22px;
}

.descripcion{
  height: 130px;
  margin-top: 8px;
}

.descripcion2{
  height: 50px;
  margin-top: 8px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  margin: 0;
  color: white;
  background-color: #F7CF3E;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family:'Quicksand';
  border-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #F7CF3E;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Kaushan Script';
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  background-color: #333;
  border: none;
}
.openbtn img{
  width: 75%;
  padding: 2%;
}

.openbtn img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

#main {
  transition: margin-right 0.5s;
  padding-top: 20px;
  padding-right: 20px
}

.video{
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #f1f1f1;
}
div iframe{
  width: 560px;
  height: 450px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  div iframe{
    width: 100%;
    max-height: 250px;
  }
  .video{
    padding: 10%;
  }

}

@media screen and (max-width: 650px) {
  .topnav.responsive {
    position: relative;
    display: block;
    float: right;
    background-color: #F7CF3E;
    color: #333;
  }
  .topnav .icon {
    position: absolute;
    right: 10%;
    top: 4%;
  }
  .topnav.responsive a {
    display: block;
    color: #333; 
    text-align: right;

  }
  .topnav .icon:hover{
    width: 5%;  
    top: 5%;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}

